.categoriesContainer {
  table {
    tr {
      td {
        width: 180px;
        height: 45px;
        border-radius: 4px;
        box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.07);
        border: solid 1px #eaedf3;
        background-color: #ffffff;
      }
    }
  }
}
